<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="bg-dark">
	<h1 class="text-white text-center p-5">GRUPO 6</h1>
	<nav class="d-flex text-white  text-center p-5 bg-dark">
		<h1 class="w-100">RODOLFO QUISPE QUISPE</h1>
		<h1 class="w-100">KARLA VARGAS CAMINO</h1>
		<h1 class="w-100">CESAR LEIVA JURO</h1>
		<h1 class="w-100">ANGEL AGUIRRE GONZALES</h1>
		<h1 class="w-100">AIRTHON COCHACHIN ORTIZ</h1>
	</nav> 
</body>
</html>